<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="./css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/WitchJump">HOME</a></li>
	        	<li><a href="https://docs.google.com/document/d/1P0G-m4-uhgBqwzJcrLqLYbP2oj4d2aBM4B9PVoJ3X-g">DEVELOPMENT LOG</a></li>
        		<li><a href="/WitchJump/ABOUT">ABOUT</a></li>
        		<li><a href="/WitchJump/CONTACT">CONTACT</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:dariavo@uw.edu">email</a></li>
			</ul>
		</footer>
	</body>
</html>
